 form {
   background-color: #82ca3e;
   width: 50%;
   margin: 0 auto;
   padding: 15px;

 }

 #main {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }

 #okno {
   width: 300px;
   height: 50px;
   text-align: center;
   padding: 15px;
   border: 3px solid #0000cc;
   border-radius: 10px;
   color: #0000cc;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
 }

 #main:target {
   display: block;
 }

 dialog {
   margin: 0 auto;
   background: lightblue;
   border: none;
   border-radius: 1rem;
   width: 60%;

 }