 body {
   padding: 0;
   margin: 0;
   font-family: 'Times New Roman', Times, serif;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background: url('img/fon.jpg') no-repeat center/cover;

 }


 form {
   background-color: #F5B6C7;
   width: 50%;
   margin: 0 auto;
   padding: 15px;
   border-radius: 1rem;

 }

 anima {
   text-align: center;
 }


 dialog {
   margin: 0 auto;
   background: #F5B6C7;
   border: 0em;
   border-radius: 1rem;
   width: 50%;

 }

 h1 {
   text-align: center;
   color: #B10361;
   size: 80px;
 }

 .marg {
   margin-top: 20px;
 }

 #open {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   text-align: center;
   background-color: #B10361;
   border-color: #B10361;
   border-radius: 1rem;
   width: 50%;
   height: 20%;
   padding: 15px;
   font-size: 20px;
   color: aliceblue;

 }

 @keyframes pulse {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.05);
   }

   100% {
     transform: scale(1);
   }
 }

 button {
   animation: pulse 2s infinite;
 }